html {
  background-color: #E2E2E2; 
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: 'Thasadith', sans-serif;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width:640px){
  .menu{display:none;}
  .trigger{
    display:inline-block;
    margin:3px;
    cursor:pointer;
   }
   .trigger i{
     display:block;
     width:30px;
     height:6px;
     margin:4px auto;
     background:#222;
   }
   .show{
     display:block;
   }
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

h1{
  font-size: 50px;
  margin: 10px;
}

article {
  min-width: 0;
  margin: 10px;
  background: white;
}

article img {
  padding: 0px;
  max-width: 100%;
}

article p, h2 {
  margin: 10px;
}

article h2 {
  font-family: 'Prata', serif;
}

article p{
  font-family: 'Poiret One', cursive;
}


/* CSS Flexbox code */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background-color: #333;
  font-family: 'Thasadith', sans-serif;
  justify-content: center;
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /
}

.buttons{
  margin-top: 20px;
}

footer p{
  color: white;
}

 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: magenta;
  color: white;
}

/*
.picture-header{
  font-family: 'Josefin Slab', serif;
}*/
